@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cherry+Cream+Soda&family=Happy+Monkey&family=Shrikhand&family=Vesper+Libre:wght@400;500;700;900&display=swap');
body{
    font-family: "Shrikhand", serif;
    font-weight: 300;
    font-style: normal;
    background-color: #FFF3C7;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    color: #5F5D9C;
    font-size: 60px;

}

.subtitulo{
    font-weight: 100;
    font-size: 30px;
}

.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon{
    width: 200px;
    background: 100px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #E1AFD1;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a03c94;
    height: 100px;
}


.tarjeta-de-mokepon img{
    width: 80px;
}


input{
    display: none;
}

input:checked + label{
    background-color: #FFF7FC;
}

#boton-mascota{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    margin-top: 30px;
    font-style: normal;
    background: #fbe5f4;
    border: 2px solid #a03c94;
    color: black;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;

}

.boton-ataque{
    background: #c9c7ef;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    color: black;
    font-family: "Happy Monkey", system-ui;
    
    
}

#mensajes{
    width: 280px;
    background: #93bcf4;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar{
    border: none;
    color: #E1AFD1;
    font-family: "Shrikhand", serif;
}

.ataques{
    display: grid;
    grid-template-columns: 100px 100px;
}

#vidas-jugador, #vidas-enemigo{
    font-size: 40px;
    margin-bottom: 0;
    
}


.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    margin: 10px 0;
    font-style: normal;
    background: #fbe5f4;
    border: 2px solid #a03c94;
    color: black;
}


@media (max-width: 560px){
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
}


@media (max-width: 300px){
    #ver-mapa div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

